<div class="container">
    <div class="row">
        <div class="col order-first align-self-center">
            <h1 class="display-4">
                <i class="fas fa-video"></i> MOVIEBANK
            </h1>

            <p class="lead">Look for somewhere to list your movies and series? Somewhere can bring your new movie
                trailers and all the news from the newest movies? JOIN US! You never had this experience before.</p>
            <p class="lead">Totaly original.</p>
        </div>

        <div class="col order-last">
            <form>
                <div class="form-group">
                    <label for="login" style="color: skyblue">Email</label>
                    <input type="email" class="form-control" id="login" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="password" style="color: skyblue">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe" style="color: skyblue">REMEMBER ME</label>
                </div>

                <button type="submit" href="../page/page.html" class="btn btn-primary btn-lg btn-block">SING
                    IN</button>

                <hr class="my-1">
                <button type="button" style="color: skyblue" class="btn btn-link">FORGOT PASSWORD?</button>
                <hr class="my-2">

                <button type="button" class="btn btn-secondary btn-lg btn-block">JOIN NOW</button>
            </form>
        </div>
    </div>
</div>